
@{
    ViewBag.Title = "PhongTro";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 room-main-content">
                    <div class="pt-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="http://phongtot.vn">Trang chủ</a></li>
                            <li class="active">Phòng trọ, nhà trọ</li>
                        </ol>
                    </div><div class="room-list-category">
                        <div class="pull-left">
                            <a href=""><h3><span>Phòng trọ, nhà trọ</span> <i class="fa fa-angle-right"></i></h3></a>
                        </div>
                        <div class="pull-right">
                            <form id="order_form" class="form-inline form-oder-category" method="post" action="http://phongtot.vn/order">
                                <input type="hidden" name="_token" value="7GSbASzO7NQ8MKYGsTbABtkVYBe05nHbfcbqpIpb">
                                <div class="form-group">
                                    <div class="btn btn-select btn-select-light">
                                        <span class="btn-select-value">Chọn thành phố</span>
                                        <span class="btn-select-arrow fa fa-angle-down"></span>
                                        <ul>
                                            <li class="fill-target"><a style="text-decoration: none;" href="http://phongtot.vn/phong-tro-nha-tro?fill=1">Hà Nội</a></li>
                                            <li class="fill-target"><a style="text-decoration: none;" href="http://phongtot.vn/phong-tro-nha-tro?fill=31">Hải Phòng</a></li>
                                            <li class="fill-target"><a style="text-decoration: none;" href="http://phongtot.vn/phong-tro-nha-tro?fill=48">Đà Nẵng</a></li>
                                            <li class="fill-target"><a style="text-decoration: none;" href="http://phongtot.vn/phong-tro-nha-tro?fill=79">Hồ Chí Minh</a></li>
                                            <li class="fill-target"><a style="text-decoration: none;" href="http://phongtot.vn/phong-tro-nha-tro?fill=92">Cần Thơ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-select btn-select-light btn-oder-price">
                                        <input type="hidden" class="btn-select-input" id="price" name="price" value="null">
                                        <span class="btn-select-value">Sắp xếp giá</span>
                                        <span class="btn-select-arrow fa fa-angle-down"></span>
                                        <ul>
                                            <li class="get_price">Giá tăng dần</li>
                                            <li class="get_price">Giá giảm dần</li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-select btn-select-light btn-oder-time">
                                        <input type="hidden" class="btn-select-input" id="time" name="time" value="">
                                        <span class="btn-select-value">Sắp xếp thời gian</span>
                                        <span class="btn-select-arrow fa fa-angle-down"></span>
                                        <ul>
                                            <li class="get_time">Cũ nhất</li>
                                            <li class="get_time">Mới nhất</li>
                                        </ul>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <script type="text/javascript">
    $(document).ready(function(){
        $('.get_price').on('click', function(e){
            var i = $(this).text();
            price.value = i;
            time.value = '';
            $('#order_form').submit();
        });
        $('.get_time').on('click', function(e){
            var i = $(this).text();
            price.value = '';
            time.value = i;
            $('#order_form').submit();
        });
        $('body').on('click', '.fill-target', function(){
            window.location.href=$(this).find('a').attr('href');

        });
    });
                    </script><div class="room-list">
                        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham">Cần 1 bạn nam ở ghép gần trường Đại học nghiệp thực phẩm</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham-thumb-3j8bp.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham-3j8bp.jpg" alt="Cần 1 bạn nam ở gh&eacute;p gần trường Đại học nghiệp thực phẩm">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                118/89 Nguyễn Đỗ Cung,Quận Tân Phú,TPHCM
                                                Nguyễn Đỗ Cung - Tây Thạnh - Tân Phú - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>30m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    18 giờ trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>570,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                            <span>Hiên tại phòng mình đang cần thêm một bạn nam ở chung để share tiền phòng.Phòng rộng,thoáng mát,có g......</span>
                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/can-1-ban-nam-o-ghep-gan-truong-dai-hoc-nghiep-thuc-pham">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/tim-1-sinh-vien-nu-o-o-ghep-khu-phan-xich-long">Tìm 1 sinh viên nữ ở ở ghép khu Phan Xích Long</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/tim-1-sinh-vien-nu-o-o-ghep-khu-phan-xich-long">
                                                <img class="img-reponsive" src="" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                33/10
                                                Nguyễn Công Hoan - 07 - Phú Nhuận - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>27m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    22 giờ trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,200,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Tìm 1 sinh viên nữ ở ghép  
                                        Địa chỉ : 33/10 Nguyễn Công Hoan, Phú Nhuận.
                                        - Đường đi không chung v......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/tim-1-sinh-vien-nu-o-o-ghep-khu-phan-xich-long">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/tim-1-sinh-vien-nu-o-o-ghep-khu-phan-xich-long" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/tim-1-sinh-vien-nu-o-o-ghep-khu-phan-xich-long">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien">cho thuê phòng tầng 2 trong nhà nguyên căn mặt tiền</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien-thumb-tf62l.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien-tf62l.jpg" alt="cho thu&ecirc; ph&ograve;ng tầng 2 trong nh&agrave; nguy&ecirc;n căn mặt tiền">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien-cnuna.jpg" alt="cho thu&ecirc; ph&ograve;ng tầng 2 trong nh&agrave; nguy&ecirc;n căn mặt tiền">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                213 khúc hạo quận sơn trà tp đà nẵng
                                                Khúc Hạo - Nại Hiên Đông - Sơn Trà - Đà Nẵng
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>6m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    3 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Chưa xác định</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>2,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>gần  chợ, gần bến xe buýt, gần sông hàn, vinmar, yêu cầu ở sạch sẽ
                                        thời gian tùy ý, có chỗ để xe,......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon">CHỖ Ở TIỆN NGHI Ở KHÂM THIÊN CHỈ 1.4TR/ THÁNG KHÔNG MẤT GÌ HƠN</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon-thumb-fisvf.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon-vixi9.jpg" alt="CHỖ Ở TIỆN NGHI Ở KH&Acirc;M THI&Ecirc;N CHỈ 1.4TR/ TH&Aacute;NG KH&Ocirc;NG MẤT G&Igrave; HƠN">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon-fisvf.jpg" alt="CHỖ Ở TIỆN NGHI Ở KH&Acirc;M THI&Ecirc;N CHỈ 1.4TR/ TH&Aacute;NG KH&Ocirc;NG MẤT G&Igrave; HƠN">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon-6whfc.jpg" alt="CHỖ Ở TIỆN NGHI Ở KH&Acirc;M THI&Ecirc;N CHỈ 1.4TR/ TH&Aacute;NG KH&Ocirc;NG MẤT G&Igrave; HƠN">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                LEKIMA HOUSE số 123 ngõ 88 Trần Quý Cáp, Phường Văn Chương, Đống Đa, Hà Nội (đi từ ngõ 98 Khâm Thiên thẳng vào không rẽ 200m bên tay phải, lối vào ngay số 82b tiệm làm tóc Nguyên Salon)
                                                Trần Quý Cáp - Văn Chương - Đống Đa - Hà Nội
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>35m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    4 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Chung</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,400,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>CHỖ Ở TIỆN NGHI Ở KHÂM THIÊN CHỈ 1.4TR/ THÁNG KHÔNG MẤT GÌ HƠN
                                        Lekima House tại ngõ 98 Khâm Thiên,......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/cho-o-tien-nghi-o-kham-thien-chi-14tr-thang-khong-mat-gi-hon">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da">Chính Chủ Cho Thuê Phòng Trọ Khu Vực Cầu Giấy - Đống Đa</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-thumb-u7zlx.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-u7zlx.jpg" alt="Ch&iacute;nh Chủ Cho Thu&ecirc; Ph&ograve;ng Trọ Khu Vực Cầu Giấy - Đống Đa">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-resized-skt7t.jpg" alt="Ch&iacute;nh Chủ Cho Thu&ecirc; Ph&ograve;ng Trọ Khu Vực Cầu Giấy - Đống Đa">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-resized-inky0.jpg" alt="Ch&iacute;nh Chủ Cho Thu&ecirc; Ph&ograve;ng Trọ Khu Vực Cầu Giấy - Đống Đa">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-resized-xyr1g.jpg" alt="Ch&iacute;nh Chủ Cho Thu&ecirc; Ph&ograve;ng Trọ Khu Vực Cầu Giấy - Đống Đa">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da-resized-cp3na.jpg" alt="Ch&iacute;nh Chủ Cho Thu&ecirc; Ph&ograve;ng Trọ Khu Vực Cầu Giấy - Đống Đa">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                SỐ 31 ngõ 5 Hoàng Quốc Việt
                                                Cầu Giấy - Nghĩa Tân - Cầu Giấy - Hà Nội
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>30m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    4 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Chưa xác định</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>3,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                   <span>Địa Chỉ: - Số 31, ngõ 5 Hoàng Quốc Việt
                                        - Số 28, ngõ 44 Phạm Thận Duật( ngay ĐH Thương Mại......</span>
                                               </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/chinh-chu-cho-thue-phong-tro-khu-vuc-cau-giay-dong-da">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-quan-tan-binh-20m2">Phòng cho thuê quận tân bình 20m2</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-quan-tan-binh-20m2">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-quan-tan-binh-20m2-thumb-resized-bskqf.jpeg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-quan-tan-binh-20m2-resized-bskqf.jpeg" alt="Ph&ograve;ng cho thu&ecirc; quận t&acirc;n b&igrave;nh 20m2">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-quan-tan-binh-20m2-resized-bfwrr.jpeg" alt="Ph&ograve;ng cho thu&ecirc; quận t&acirc;n b&igrave;nh 20m2">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-quan-tan-binh-20m2-resized-nohkc.jpeg" alt="Ph&ograve;ng cho thu&ecirc; quận t&acirc;n b&igrave;nh 20m2">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                63/21 nghĩa hòa phường 6 quận tân bình
                                                Nghĩa Hòa - 06 - Tân Bình - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>20m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    5 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>3,500,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Phòng thoáng mát sạch sẽ , có toilet riêng. Máy nước nóng năng lượng mặt trời. 
                                        Giờ giấc thoải mái.......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-quan-tan-binh-20m2">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/phong-cho-thue-quan-tan-binh-20m2" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/phong-cho-thue-quan-tan-binh-20m2">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-full-do-tai-phu-my-le-duc-tho">CHO THUÊ PHÒNG FULL ĐỒ TẠI PHÚ MỸ ( LÊ DỨC THỌ )</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-full-do-tai-phu-my-le-duc-tho">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-thumb-7yh9j.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-0zlxe.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-n0bkx.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-jga3e.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-9xawr.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-ezazk.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-resized-oyxdg.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-7yh9j.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-full-do-tai-phu-my-le-duc-tho-cttkg.jpg" alt="CHO THU&Ecirc; PH&Ograve;NG FULL ĐỒ TẠI PH&Uacute; MỸ ( L&Ecirc; DỨC THỌ )">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                Số 80 ngõ 63/30 lê dức thọ
                                                Mai Dịch - Cầu Giấy - Hà Nội
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>25m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    6 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>3,200,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>CHO THUÊ PHÒNG FULL ĐỒ TẠI PHÚ MỸ ( LÊ DỨCTHỌ )
                                        Hiện bên mình còn 1 phòng rộng 25m2 vàphòng 35m2 cầ......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-full-do-tai-phu-my-le-duc-tho">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/cho-thue-phong-full-do-tai-phu-my-le-duc-tho" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/cho-thue-phong-full-do-tai-phu-my-le-duc-tho">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1">PHÒNG CHO THUÊ CAO CẤP, FULL NỘI THẤT NGAY BỜ KÈ HOÀNG SA TRUNG TÂM QUẬN 1</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1-thumb-uif3o.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1-uif3o.jpg" alt="PH&Ograve;NG CHO THU&Ecirc; CAO CẤP, FULL NỘI THẤT NGAY BỜ K&Egrave; HO&Agrave;NG SA TRUNG T&Acirc;M QUẬN 1">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                29A/1 Nguyễn Văn Nguyễn, P.Tân Định, Q.1
                                                Nguyễn Văn Nguyễn - Tân Định - 1 - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>25m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    6 ngày trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>6,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Nhà thiết kế kiểu phương tây, gần Trần Quang Khải, Hai Bà Trưng, CV Lê Văn Tám, gần siêu thị, cây
                                        x......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/phong-cho-thue-cao-cap-full-noi-that-ngay-bo-ke-hoang-sa-trung-tam-quan-1">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l">Cho thuê phòng trọ tại số 3 ngõ An Sơn, Đại La, Hai Bà Trưng, HN (phòng 25m2, giá 2 triệu) </a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l-thumb-resized-0gcrt.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l-resized-0gcrt.jpg" alt="Cho thu&ecirc; ph&ograve;ng trọ tại số 3 ng&otilde; An Sơn, Đại La, Hai B&agrave; Trưng, HN (ph&ograve;ng 25m2, gi&aacute; 2 triệu) ">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l-resized-opyoc.jpg" alt="Cho thu&ecirc; ph&ograve;ng trọ tại số 3 ng&otilde; An Sơn, Đại La, Hai B&agrave; Trưng, HN (ph&ograve;ng 25m2, gi&aacute; 2 triệu) ">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                Số 3 ngõ An Sơn
                                                Đại La - Trương Định - Hai Bà Trưng - Hà Nội
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>25m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Chung</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>2,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Tôicó phòng trọ diện tích 25m2 nằm trong nhà 3 tầng tại số 03 ngõ An Sơn, Đại La,
                                        Hai Bà Trưng, Hà......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/cho-thue-phong-tro-tai-so-3-ngo-an-son-dai-la-hai-ba-trung-hn-phong-25m2-gia-2-trieu-1539507165yzd6l">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/phong-tro-q5-khong-chung-chu">Phòng trọ Q5, không chung chủ</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/phong-tro-q5-khong-chung-chu">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-tro-q5-khong-chung-chu-thumb-evqoz.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-tro-q5-khong-chung-chu-evqoz.jpg" alt="Phòng trọ Q5, kh&ocirc;ng chung chủ">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/phong-tro-q5-khong-chung-chu-wq0an.jpg" alt="Phòng trọ Q5, kh&ocirc;ng chung chủ">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                206/19 Trần Hưng Đạo
                                                Trần Hưng Đạo - 11 - 5 - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>15m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Chung</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>2,700,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Uu Điểm:
                                        -Giờ giấc tự do, thoải mái, muốn mấy giờ về thì về vì không có ở chung với chủ, mỗi người......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/phong-tro-q5-khong-chung-chu">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/phong-tro-q5-khong-chung-chu" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/phong-tro-q5-khong-chung-chu">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh">Tìm nữ ở ghép Quận 9 - Gần học viện Bưu Chính</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh-thumb-s3bqz.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh-s3bqz.jpg" alt="T&igrave;m nữ ở gh&eacute;p Quận 9 - Gần học viện Bưu Ch&iacute;nh">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                D8 Man Thiện, Khu Cảnh Vệ, Phường Tăng Nhơn Phú A, Quận 9, Tp.HCM
                                                D8 - Tăng Nhơn Phú A - 9 - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>16m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Mình cần tìm một bạn nữ ở ghép tại quận 9.
                                        Địa chỉ: D8 - Khu Cảnh Vệ -Man Thiện - Quận 9 - TpHCM
                                        P......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/tim-nu-o-ghep-quan-9-gan-hoc-vien-buu-chinh">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-q11">[TÌM NỮ Ở GHÉP - Q11]</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-q11">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-thumb-euz9o.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-qj3cr.jpg" alt="[T&Igrave;M NỮ Ở GH&Eacute;P - Q11]">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-euz9o.jpg" alt="[T&Igrave;M NỮ Ở GH&Eacute;P - Q11]">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-6dzg2.jpg" alt="[T&Igrave;M NỮ Ở GH&Eacute;P - Q11]">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-ob3hm.jpg" alt="[T&Igrave;M NỮ Ở GH&Eacute;P - Q11]">
                                            </div> -->
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-q11-yqnyq.jpg" alt="[T&Igrave;M NỮ Ở GH&Eacute;P - Q11]">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                319B13 Lý Thường Kiệt, p15, Q11
                                                Lý Thường Kiệt - 15 - 11 - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>0m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,250,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Thời gian dọn vào: THÁNG 10.
                                        ĐỊA CHỈ: 319B13 Lý Thường Kiệt, p15, Q11 - Ngay ngã 3 Lý Thường Kiệt -......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-q11">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/tim-nu-o-ghep-q11" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/tim-nu-o-ghep-q11">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi">Tìm nữ ở ghép ngõ 199 Hồ Tùng Mậu đi ra được ngõ 126 nguyễn đổng chi</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi-thumb-resized-o5zmb.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi-resized-o5zmb.jpg" alt="T&igrave;m nữ ở gh&eacute;p ng&otilde; 199 Hồ T&ugrave;ng Mậu đi ra được ng&otilde; 126 nguyễn đổng chi">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                Nhà số 1 ngách 199/59 hồ tùng mậu. cầu diễn, hà nội
                                                Cầu Diễn - Từ Liêm - Hà Nội
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>16m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>750,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                            <span>Mình tìm nữ ở ghép tầm 92 ,93 càng tốt. Yêu cầu : Ngoan, sống vui vẻ và sạch (bẩn thì không ở được đ......</span>
                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/tim-nu-o-ghep-ngo-199-ho-tung-mau-di-ra-duoc-ngo-126-nguyen-dong-chi">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7">Tìm gấp 1-2 Nam ở ghép gần Lotte mart q7</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7-thumb-resized-o648f.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7-resized-o648f.jpg" alt="T&igrave;m gấp 1-2 Nam ở gh&eacute;p gần Lotte mart q7">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                Đường 79 phường Tân Quy quận 7
                                                79 - Tân Quy - 7 - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>16m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    1 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,000,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                                            <span>Phòng đang ở 1 người tìm thêm 1-2 bạn nam vào ở (ưu tiên sv).
                                        Phòng tương đối rộng có gác toalet ri......</span>
                                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/tim-gap-1-2-nam-o-ghep-gan-lotte-mart-q7">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>        <div class="room-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-room-item-title">
                                        <a href="http://phongtot.vn/phong-tro-nha-tro/can-nu-o-ghep-hang-xanh-dien-bien-phu">Cần nữ ở ghép Hàng Xanh Điện Biên Phủ</a>
                                    </div>
                                    <div class="col-md-3 room-item-thumbnail">
                                        <div class="row">
                                            <a class="col-md-12 thumbnail room-item-main-img" href="http://phongtot.vn/phong-tro-nha-tro/can-nu-o-ghep-hang-xanh-dien-bien-phu">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/can-nu-o-ghep-hang-xanh-dien-bien-phu-thumb-resized-cz7xd.jpg" alt="">
                                            </a>
                                            <!-- <div class="col-md-4 thumbnail">
                                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/can-nu-o-ghep-hang-xanh-dien-bien-phu-resized-cz7xd.jpg" alt="Cần nữ ở gh&eacute;p H&agrave;ng Xanh Điện Bi&ecirc;n Phủ">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 room-item-i">
                                        <div class="block-room-item-address">
                                            <span>Địa chỉ: </span>
                                            <a>
                                                367 Điện Biên Phủ
                                                15 - Bình Thạnh - Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="block-room-item-info">
                                            <div class="pull-left">
                                                <span>Diện tích: </span><a>24m2</a>
                                            </div>
                                            <div class="pull-right item-info-date">
                                                <a>
                                                    2 tuần trước
                                                </a>
                                            </div>
                                            <div class="item-info-vs">
                                                <span>Vệ sinh: </span><a>Khép kín</a>
                                            </div>
                                        </div>
                                        <div class="block-room-item-price">
                                            <span>Giá cả: </span><a>1,200,000 Đ/tháng</a>
                                        </div>
                                        <!-- <div class="block-room-item-des">
                                            <span>Phòng ở vị trí gần trung tâm. Ngay cầu vượt hàng xanh, cấp cứu laptop, viện laptop. Thích hợp cho cá......</span>
                                        </div> -->
                                        <div class="block-room-item-btn">
                                            <a class="btn btn-room-detail" href="http://phongtot.vn/phong-tro-nha-tro/can-nu-o-ghep-hang-xanh-dien-bien-phu">Xem chi tiết</a>
                                            <a class="btn btn-room-save" _url="http://phongtot.vn/luu-tin-ajax/phong-tro-nha-tro/can-nu-o-ghep-hang-xanh-dien-bien-phu" href="http://phongtot.vn/luu-tin/phong-tro-nha-tro/can-nu-o-ghep-hang-xanh-dien-bien-phu">Lưu tin</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
$(document).ready(function() {
    $('.btn-room-save').on('click', function(e){
        var i = $(this);
        var div = i.parent();
        $.ajax({
            url: i.attr('_url'),
            type: 'GET',
            dataType: 'json',
            success: function(result){
                i.remove();
                div.append(result);
                setTimeout(function(){$('.flash-mesage').remove();}, 1000);
            }
        });
    });
});
                    </script>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=2">2</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=3">3</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=4">4</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=5">5</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=6">6</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=7">7</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=8">8</a></li><li class="disabled"><span>...</span></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=1128">1128</a></li><li><a href="http://phongtot.vn/phong-tro-nha-tro?page=1129">1129</a></li> <li><a href="http://phongtot.vn/phong-tro-nha-tro?page=2" rel="next">»</a></li></ul></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="advance-search">
                        <div class="title">
                            <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                        </div>
                        <div class="shr"><hr></div>
                        <form class="form" id="search_form" action="http://phongtot.vn/tim-kiem" method="GET">
                            <div class="form-group tp">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="">
                                    <span class="btn-select-value">Chọn tỉnh, thành phố</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="get_province" value="1"> Hà Nội</li>
                                        <li class="get_province" value="31"> Hải Phòng</li>
                                        <li class="get_province" value="48"> Đà Nẵng</li>
                                        <li class="get_province" value="79"> Hồ Chí Minh</li>
                                        <li class="get_province" value="92"> Cần Thơ</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn quận, huyện</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Phòng trọ, nhà trọ</li>
                                        <li class="province" value="31">Nhà nguyên căn</li>
                                        <li class="province" value="48">Nhà mặt phố</li>
                                        <li class="province" value="79">Văn phòng</li>
                                        <li class="province" value="92">Chung cư, căn hộ</li>
                                        <li class="province" value="92">Mặt bằng, cửa hàng</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-select-city">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                                    <span id="price" class="btn-select-value">Chọn khoảng giá</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="province" value="1">Dưới 1 triệu</li>
                                        <li class="province" value="31">1 triệu - 2 triệu</li>
                                        <li class="province" value="48">2 triệu - 3 triệu</li>
                                        <li class="province" value="79">3 triệu - 5 triệu</li>
                                        <li class="province" value="92">5 triệu - 7 triệu</li>
                                        <li class="province" value="92">7 triệu - 10 triệu</li>
                                        <li class="province" value="92">Trên 10 triệu</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                                    
            <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
                </div>
            </div>                    <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-social">
                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/Phongtotvn-Thu%C3%AA-V%C3%A0-Cho-Thu%C3%AA-Ph%C3%B2ng-Ch%C3%ADnh-Ch%E1%BB%A7-726759860760692/" data-width="275" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=464576090336755&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275"><span style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f3a11d147f5cc54" width="275px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=464576090336755&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F__Bz3h5RzMx.js%3Fversion%3D42%23cb%3Df22d6812d09dd8c%26domain%3Dphongtot.vn%26origin%3Dhttp%253A%252F%252Fphongtot.vn%252Ff195edb6e0d05b8%26relation%3Dparent.parent&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275" style="border: none; visibility: visible; width: 0px; height: 0px;" class=""></iframe></span></div>
                </div>
            </div>                    <div class="row">
                <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
                </div>
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
                </div>
            </div>                    <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 sidebar-article-label">
                    <div class="pull-left">
                        <a href="http://phongtot.vn/bai-viet"><h3><span>bài viết</span> mới</h3></a>
                    </div>
                    <div class="pull-right">
                        <a href="http://phongtot.vn/bai-viet"></a><h3>
                            <a href="http://phongtot.vn/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ngoi-nha-46m²-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo_cover-573eddf84424b.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Ngôi nhà 46m² tuyệt đẹp có chi phí hoàn thiện 480 triệu đồng chàng trai 8x xây tặng vợ</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu_cover-573dcbc3ac6e2.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Ý tưởng kinh doanh nhà trọ, ngồi không mỗi tháng kiếm trăm triệu?</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/nhung-dieu-can-biet-khi-tim-phong-tro_cover-5714ad734268d.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Những điều cần biết khi tìm phòng trọ</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/thiet-ke-can-ho-‪‬173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong_cover-57018c103e17a.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Thiết kế căn hộ ‪‬173m2 cực đẹp với chi phí chỉ 17 triệu đồng</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/pham-huong-mac-gian-di-giao-luu-cung-sinh-vien_cover-57018a97e544c.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Phạm Hương mặc giản dị giao lưu cùng sinh viên</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-12 sidebar-article-new">
                    <a href="http://phongtot.vn/bai-viet">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/vi-sao-chon-nganh-hot-van-that-nghiep_cover-57017e8c0162e.jpg" alt="">
                            </div>
                            <div class="col-md-7 no-padding-left">
                                <div class="sidebar-article-title">
                                    <h2>Vì sao chọn ngành 'hot' vẫn thất nghiệp?</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

