
@{
    ViewBag.Title = "DangTin";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";
}
<div class="container">
    <div class="row">
        @*<script src="#/themes/client/js/fileuploader.js"></script>*@
        <input type="hidden" name="_token" value="oZTfWcuCbtOwBIEtos7tpCT6fovSeuSzIa5d8GWV">
        <div class="row">
            <div class="col-md-12 submit-room-breadcrumb">
                <div class="pt-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("index", "Home")">Trang chủ</a></li>
                        <li class="active">Đăng tin</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-2 no-padding-vertical submit-room-main-content">
            <div class="submit-list-type">
                <div class="list-type-title">
                    <ul><li class="li-label">Bước 1 Chọn Nhu Cầu</li></ul>
                </div>
                <div class="checkbox checkbox-success">
                    <ul>
                        <li>
                            <input type="radio" name="needed" id="radio_needed_lease" value="1">
                            <label for="radio_needed_lease"> Cho Thuê</label>
                        </li>
                        @*<li>
                            <input type="radio" name="needed" id="radio_needed_share" value="2">
                            <label for="radio_needed_share"> Ở ghép</label>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div id="step-2" class="submit-list-type" style="display: none;">
            </div>
        </div>
        <div id="step-3" class="col-md-10 no-padding-right submit-room-main-content" style="display: none;">
            <div class="list-type-title">
                <ul><li class="li-label">Bước 3 Nhập Thông Tin Chi Tiết</li></ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="control-label">Tiêu đề</div>
                        <div>
                            <input type="text" id="title" class="form-control" value="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">Số điện thoại</div>
                        <div>
                            <input type="text" id="phonenumber" class="form-control" value="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding-left">
                        <div class="form-group">
                            <div>
                                <div class="control-label">Giá</div>
                                <div class="input-group">
                                    <input type="text" id="price" class="form-control money-input" data-thousands="," data-decimal="." data-precision="0">
                                    <span class="input-group-addon">đ/tháng</span>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding-right">
                        <div class="form-group">
                            <div>
                                <div class="control-label">Diện tích</div>
                                <div class="input-group">
                                    <input type="text" id="acreage" value="" class="form-control" placeholder="nhập số, viết liền">
                                    <span class="input-group-addon">M<sup>2</sup></span>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label">Tỉnh/Thành phố</div>
                                <div>
                                    <select name="province_id" id="province" class="form-control address_input" size="1">
                                        <option value="">Chọn</option>
                                        <option value="1">Hà Nội</option>
                                        <option value="2">Hải Phòng</option>
                                        <option value="3">Hồ Chí Minh</option>
                                        <option value="4">Bắc Giang</option>
                                        <option value="5">Đã Nẵng</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label">Quận/Huyện</div>
                                <div>
                                    <select name="district_id" id="district" class="form-control address_input" size="1">
                                        <option value="">Chọn Tỉnh/Thành trước</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <dv class="clearfix"></dv>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label">Xã/Phường</div>
                                <div>
                                    <select id="street_id" name="ward_id" class="form-control address_input" size="1">
                                        <option value="">Chọn Quận/huyện trước</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label">Đường/Phố</div>
                                <div>
                                    <select id="street" name="street_id" class="form-control address_input" size="1">
                                        <option value="">Chọn Quận/huyện trước</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="control-label">Địa chỉ cụ thể</div>
                                <div>
                                    <input type="text" id="addressDetails" name="detail" class="form-control address_input" value="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="additional-row" style="display: none;">
                </div>
                <div class="clearfix" style="height: 5px;"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="image-group">
                                <div class="control-label">
                                    <label for="summary">Ảnh chi tiết của phòng </label>
                                </div>

                                <input type="file" id="fileInput" multiple/>
                                <input type="button" id="fileButton" value="Upload Files" class="btn btn-primary"/><br />
                                <img src="~/Content/Image/loading.gif" style="display: none;" id="loadingImg" />
                            <div id="upload-error"></div>
                            <div class="clearfix"><p></p></div>
                            <div class="qq-uploader checkbox checkbox-success" id="list-image">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 submit-btn-room">
                    <a id="submit_form" class="btn btn-send-room" href=""><span class="fa fa-send"></span>Đăng tin</a>
                </div>
            </div>
        </div>
        <div class="hide">
            <div id="room-detail-1">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
            <div id="room-detail-2">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" name="name" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" name="name" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
            <div id="room-detail-6">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" name="name" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" name="name" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
            <div id="room-detail-3">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" name="name" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" name="name" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
            <div id="room-detail-7">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" name="name" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" name="name" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
            <div id="room-detail-4">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span> Nhà trọ, Phòng trọ</span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Tầng</div>
                                    <div>
                                        <select name="floor" id="floor" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="1">Tầng 1</option>
                                            <option value="2">Tầng 2</option>
                                            <option value="3">Tầng 3</option>
                                            <option value="4">Tầng 4</option>
                                            <option value="5">Tầng 5</option>
                                            <option value="6">Tầng 6</option>
                                            <option value="7">Tầng 7</option>
                                            <option value="8">Tầng 8</option>
                                            <option value="9">Tầng 9</option>
                                            <option value="10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" id="wc" class="form-control" size="1">
                                            <option value="Chưa xác định">Chọn..</option>
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group people-in">
                        <div class="submit-info-title">Số người ở tối đa</div>
                        <div>
                            <select name="per_room" id="numberPeople" class="form-control" size="1">
                                <option value="Chưa xác định">Chọn..</option>
                                <option value="1">1 người</option>
                                <option value="2">2 người</option>
                                <option value="3">3 người</option>
                                <option value="4">4 người</option>
                                <option value="5">5 người</option>
                                <option value="6">6 người</option>
                                <option value="7">7 người</option>
                                <option value="8">8 người</option>
                                <option value="9">9 người</option>
                                <option value="Chưa xác định">Chưa xác định</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group price-elec-water">
                        <div class="elec">
                            <div class="submit-info-title">Giá điện</div>
                            <input type="number" name="name" id="priceElectric" class="form-control price_set" value="" />
                        </div>
                        <div class="water">
                            <div class="submit-info-title">Giá nước</div>
                            <input type="number" name="name" id="priceWater" class="form-control price_set" value="" />
                        </div>
                    </div>
                    <div id="price_group" class="form-group price-elec-water-input">
                        <div class="elec elec_set"></div>
                        <div class="water water_set"></div>
                    </div>
                    <div class="submit-room-des">
                        <div class="submit-info-title validate-require">Mô tả chi tiết</div>
                        <textarea id="description" rows="5" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="submit-room-map">
                        <div class="submit-info-title">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                        <fieldset class="gllpLatlonPicker" id="_MAP_3086">
                            <input type="hidden" class="gllpSearchField" value="">
                            <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                            <!-- <br/><br/> -->
                            <div class="gllpMap" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="overflow: hidden;"></div><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -254, -245);"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; touch-action: none; left: -14px; top: -43px; z-index: 0;"><img alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="Drag this Marker" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe></div></div></div>
                            <!-- <br/>
                            lat/lon: -->
                            <input type="hidden" name="location[N]" class="gllpLatitude" value="21.0029317912212212">
                            <!-- / -->
                            <input type="hidden" name="location[E]" class="gllpLongitude" value="105.820226663232323">
                            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
                            <input type="hidden" class="gllpUpdateButton" value="update map">
                        </fieldset>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="hide">
            <div class="radio_needed_lease">
                <div class="list-type-title">
                    <ul><li class="li-label">Bước 2 Chọn loại Phòng</li></ul>
                </div>
                <div class="checkbox checkbox-success">
                    <ul>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[1]" value="1">
                            <label for="radio_type[1]">Phòng trọ, nhà trọ</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[2]" value="2">
                            <label for="radio_type[2]">Nhà nguyên căn</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[3]" value="3">
                            <label for="radio_type[3]">Nhà mặt phố</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[4]" value="4">
                            <label for="radio_type[4]">Văn phòng</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[6]" value="6">
                            <label for="radio_type[6]">Chung cư, căn hộ</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[7]" value="7">
                            <label for="radio_type[7]">Mặt bằng, cửa hàng</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="radio_needed_share">
                <div class="list-type-title">
                    <ul><li class="li-label">Bước 2 Chọn loại Phòng</li></ul>
                </div>
                <div class="checkbox checkbox-success">
                    <ul>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[1]" value="1">
                            <label for="radio_type[1]">Phòng trọ, nhà trọ</label>
                        </li>
                        <li>
                            <input type="radio" name="type_id" id="radio_type[2]" value="2">
                            <label for="radio_type[2]">Nhà nguyên căn</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hide">
            <div id="elec_set">
                <div class="submit-info-title">Nhập Giá điện</div>
                <div class="input-group">
                    <input type="text" name="elec_price" value="" class="form-control" placeholder="chỉ nhập số, viết liền" vk_153e5="subscribed">
                    <span class="input-group-addon elec_price_extention">Nghìn/số</span>
                </div>
            </div>
            <div id="water_set">
                <div class="submit-info-title">Nhập Giá nước</div>
                <div class="input-group">
                    <input type="text" name="water_price" value="" class="form-control" placeholder="chỉ nhập số, viết liền" vk_153e5="subscribed">
                    <span class="input-group-addon water_price_extention">Nghìn/số</span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('body').on('change', '[name="needed"]', function (e) {
                    if ($(this).val().length > 0) {
                        $('#step-3').fadeOut();
                        $('#step-2').fadeOut(300);
                        $('#step-2').html($('.' + $(this).attr('id')).html());
                        $('#step-2').fadeIn(700);
                    }
                });
                // setTimeout(function(){$('[name="type"]').change();}, 200);
                $('body').on('change', '[name="type_id"]', function (e) {
                    e.preventDefault;
                    $('#step-3').fadeIn(700);
                    google.maps.event.trigger(window, 'resize', {});
                    $('#additional-row').fadeOut(300);
                    $('#additional-row').html($('#room-detail-' + $(this).val()).html());
                    $('#additional-row').fadeIn(500);
                });
                setTimeout(function () { $('.price_set').change(); }, 200);
                $('body').on('change', '.price_set', function (e) {
                    id = $(this).attr('name');
                    if ($(this).val() == 'Theo đầu người' || $(this).val() == 'Chủ nhà quy định') {
                        $('.' + id).html($('#' + id).html());
                    } else {
                        $('.' + id).html('');
                    }
                    class_change = $(this).attr('for');
                    if ($(this).val() == 'Theo đầu người') {
                        $('.' + class_change).text('Nghìn/người');
                    } else {
                        $('.' + class_change).text('Nghìn/số');
                    }
                });
                // get district by province
                $('#province').on('change', function () {
                    var provinceid = $(this).val();
                    $('#district').html('<option value>Loading...</option>');
                    $('#district').attr('disabled', 'true');
                    $.ajax({
                        url: '/DangTin/GetDistrict/',
                        type: 'GET',
                        data: { provinceid: provinceid },
                        success: function (response) {
                            $('#district').removeAttr('disabled');
                            $('#district').html('<option value>Chọn</option>');
                            $.each(response, function (i, item) {
                                $('#district').append('<option value="' + item.Id + '">' + item.Name + '</option>');
                            });
                        },
                        error: function (x, t, m) {
                            $('#province').val('');
                            $('#district').html('<option value> Chon Tinh truoc  </option>');
                        },
                    });
                });

                // get street by district
                $('#district').on('change', function () {
                    var districid = $(this).val();
                    $('#street_id').html('<option value>Loading...</option>');
                    $('#street_id').attr('disabled', 'true');
                    $.ajax({
                        url: '/DangTin/GetStreet/',
                        type: 'GET',
                        data: { districtId: districid },
                        success: function (response) {
                            $('#street_id').removeAttr('disabled');
                            $('#street_id').html('<option value>Chọn</option>');
                            $.each(response, function (i, item) {
                                $('#street_id').append('<option value="' + item.Id + '">' + item.Name + '</option>');
                            });
                        },
                        error: function (x, t, m) {
                            $('#district').val('');
                            $('#street_id').html('<option value> Chọn quận/huyện trước  </option>');
                        },
                    });
                });

                // get street by district
                $('#district').on('change', function () {
                    var districtId = $(this).val();
                    $('#street').html('<option value>Loading...</option>');
                    $('#street').attr('disabled', 'true');
                    $.ajax({
                        url: '/DangTin/GetStreet/',
                        type: 'GET',
                        data: { districtId: districtId },
                        success: function (response) {
                            $('#street').removeAttr('disabled');
                            $('#street').html('<option value>Chọn</option>');
                            $.each(response, function (i, item) {
                                $('#street').append('<option value="' + item.Id + '">' + item.Name + '</option>');
                            });
                        },
                        error: function (x, t, m) {
                            $('#district').val('');
                            $('#street').html('<option value> Chọn quận/huyện trước  </option>');
                        },
                    });
                });

                //Đăng tin
                $('#submit_form').click(function () {
                    var need = $("input[name='needed']:checked").val();
                    var type = $("input[name='type_id']:checked").val();
                    var title = $("#title").val();
                    var phone = $("#phonenumber").val();
                    var price = $("#price").val();
                    var acreage = $("#acreage").val();
                    var province = $('#province').val();
                    var district = $('#district').val();
                    var street = $('#street').val();
                    var addressDetails = $('#addressDetails').val();
                    var floor = $('#floor').val();
                    var wc = $('#wc').val();
                    var numberPeople = $('#numberPeople').val();
                    var priceElectric = $('#priceElectric').val();
                    var priceWater = $('#priceWater').val();
                    var description = $('#description').val();

                    if (title.length == 0) {
                        alert('Vui long nhập tiêu đề');
                    }

                    else if (phone.length == 0) {
                        alert('Vui long nhập Số điện thoại');
                    }

                    else if (price.length == 0) {
                        alert('Vui long nhập giá');
                    }

                    else if (addressDetails.length == 0) {
                        alert('Vui long nhập Địa chỉ');
                    }

                    else {
                        $.ajax({
                            type: 'POST',
                            url: "/DangTin/DangTin/",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({
                                need: need,
                                type: type,
                                title: title,
                                phone: phone,
                                price: price,
                                acreage: acreage,
                                province: province,
                                district: district,
                                street: street,
                                addressDetails: addressDetails,
                                floor: floor,
                                wc: wc,
                                numberPeople: numberPeople,
                                priceElectric: priceElectric,
                                priceWater: priceWater,
                                description: description

                            })
                        }).success(function (response) {
                            if (response.result == true) {
                                window.location.href = '/ThanhToan/ThanhToan'
                            }

                            else {
                                alert("Đăng ký Thất bại");
                            }
                        }).error(function () {
                            alert("Lỗi serve!");
                           
                        });
                    }
                    
                });

                //
                $("#fileButton").click(function () {
                    var files = $("#fileInput").get(0).files;
                    var fileData = new FormData();

                    for (var i = 0; i < files.length; i++) {
                        fileData.append("fileInput", files[i]);
                    }

                    $.ajax({
                        type: "POST",
                        url: "/DangTin/UploadFiles",
                        dataType: "json",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result, status, xhr) {
                            alert(result);
                        },
                        error: function (xhr, status, error) {
                            alert(status);
                        }
                    });
                });

            $(document).ajaxStart(function () {
                $("#loadingImg").show();
                $("#fileButton").prop('disabled', true);
            });

            $(document).ajaxStop(function () {
                    $("#loadingImg").hide();
                $("#fileButton").prop('disabled', false);
                $("#fileInput").val("");
            });

            });
        </script>
    </div>
</div>
