@{

    ViewBag.Title = "Admin";
    Layout = "~/Views/Admin/layout_admin/_LayoutAdmin.cshtml";
}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Thống Kê
                </h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12" style="padding-bottom:120px">
                <div id="chartContainer"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    window.onload = function () {
        var result = @Html.Raw(ViewBag.DataPoints);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({ x: result[i].Id, y: result[i].TotalPrice});
        }
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Doanh Thu theo tin đăng"
            },
            subtitles: [
                { text: "(trong tháng)" }
            ],
            data: [
                {
                    type: "column", //change type to bar, line, area, pie, etc
                    dataPoints: dataPoints,
                }
            ]
        });
        chart.render();
    };
</script>
