<div class="slider hidden-xs hidden-sm">
    <img class="img-responsive" src="~/Content/themes/client/img/slider-bg.png" alt="">
    <div class="pt_container">
        <div class="slider-title">

        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 search-bar">
            <form action="@Url.Action("Search", "Search")" method="post">
                <div class="group-arena pull-left">
                    <div class="group-title">Chọn khu vực</div>
                    <input class="ip-room-where" id="location" type="text" name="location" placeholder="Bạn muốn tìm phòng ở đâu ?">
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="province" name="province" value="1" />
                        <span class="btn-select-value">Thành Phố</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="province" value="1">Hà Nội</li>
                            <li class="province" value="31">Hải Phòng</li>
                            <li class="province" value="48">Đà Nẵng</li>
                            <li class="province" value="79">Hồ Chí Minh</li>
                            <li class="province" value="92">Cần Thơ</li>
                        </ul>
                    </a>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="district" name="district" value="1" />
                        <span class="btn-select-value">Phường -Quận</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="district" value="1">Hai Bà Tưng</li>
                            <li class="district" value="31">Hoàng Mai</li>
                            <li class="district" value="48">Bách Khoa</li>
                            <li class="district" value="79">Minh Khai</li>
                            <li class="district" value="92">Cầu Giấy</li>
                        </ul>
                    </a>
                </div>

                <div class="group-arena pull-left">
                    <div class="group-title">Diện Tích</div>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="dientich" name="dientich" value="1" />
                        <span class="btn-select-value">Chọn diện tích</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="dientich" value="1">Dưới 20m2</li>
                            <li class="dientich" value="2">20m2 - 30m2</li>
                            <li class="dientich" value="3">Trên 30m2</li>
                        </ul>
                    </a>
                </div>
                <div class="group-arena pull-left" style="height: 172px">
                    <div class="group-title">Chọn khoảng giá</div>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="price" name="price" value="1" />
                        <span class="btn-select-value">Chọn Giá</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="price" value="1">Dưới 2 triệu</li>
                            <li class="price" value="2">2 triệu - 5 triệu</li>
                            <li class="price" value="3">Trên 5 triệu</li>
                        </ul>
                    </a>
                </div>
                <div class="pull-left">
                    <div id="banner" style="width: 320px; height: 200px;">
                        <img src="~/Content/themes/client/img/can-ho-mini-cho-thue-tai-nguyen-thi-minh-khai-trung-tam-quan-3-thumb-fy17o.jpg" alt="banner" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="group-btn-submit">
                    <button type="submit" class="btn btn-slide-search" id="search"><span class="fa fa-search"></span>Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End slider -->