<div class="slider hidden-xs hidden-sm">
    <img class="img-responsive" src="~/Content/themes/client/img/slider-bg.png" alt="">
    <div class="pt_container">
        <div class="slider-title">
            <h1>Chính chủ, Miễn phí, Tiện lợi</h1>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 search-bar">
            <form class="form" action="" method="GET">
                <div class="group-arena pull-left">
                    <div class="group-title">Chọn khu vực</div>
                    <input class="ip-room-where" type="text" name="k" placeholder="Bạn muốn tìm phòng ở đâu ?">
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                        <span class="btn-select-value">Thành Phố</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="province" value="1">H&agrave; Nội</li>
                            <li class="province" value="31">Hải Ph&ograve;ng</li>
                            <li class="province" value="48">Đ&agrave; Nẵng</li>
                            <li class="province" value="79">Hồ Ch&iacute; Minh</li>
                            <li class="province" value="92">Cần Thơ</li>
                        </ul>
                    </a>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                        <span class="btn-select-value">Phường -Quận</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="province" value="1">Hai Bà Tưng</li>
                            <li class="province" value="31">Hoàng Mai</li>
                            <li class="province" value="48">Bách Khoa</li>
                            <li class="province" value="79">Minh Khai</li>
                            <li class="province" value="92">Cầu Giấy</li>
                        </ul>
                    </a>
                </div>

                <div class="group-arena pull-left">
                    <div class="group-title">Diện Tích</div>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                        <span class="btn-select-value">Chọn diện tích</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="province" value="1">Dưới 20m2</li>
                            <li class="province" value="31">20m2 - 30m2</li>
                            <li class="province" value="48">30m2 - 40m2</li>
                            <li class="province" value="79">40m2 - 50m2</li>
                            <li class="province" value="92">Trên 50m2</li>
                        </ul>
                    </a>
                </div>
                <div class="group-arena pull-left" style="height: 172px">
                    <div class="group-title">Chọn khoảng giá</div>
                    <a class="btn btn-select btn-select-light btn-select-city">
                        <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                        <span class="btn-select-value">Chọn Giá</span>
                        <span class='btn-select-arrow fa fa-angle-down'></span>
                        <ul>
                            <li class="province" value="1">Dưới 1 triệu</li>
                            <li class="province" value="31">1 triệu - 2 triệu</li>
                            <li class="province" value="48">2 triệu - 3 triệu</li>
                            <li class="province" value="79">3 triệu - 5 triệu</li>
                            <li class="province" value="92">5 triệu - 7 triệu</li>
                            <li class="province" value="92">7 triệu - 10 triệu</li>
                            <li class="province" value="92">Trên 10 triệu</li>
                        </ul>
                    </a>
                </div>
                <div class="pull-left">
                    <div id="banner" style="width: 320px; height: 200px;">
                        <img src="~/Content/themes/client/img/can-ho-mini-cho-thue-tai-nguyen-thi-minh-khai-trung-tam-quan-3-thumb-fy17o.jpg" alt="banner" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="group-btn-submit">
                    <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>            
<!-- End slider -->
