
@{
    ViewBag.Title = "Tin Đã Đăng";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";

    var user = @ViewBag.User;
}
<div class="container" style="margin-top: 20px;">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 room-main-content">
                <div class="pt-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="http://phongtot.vn">Trang chủ</a></li>
                    </ol>
                </div><div class="col-md-2 user_panel no-padding-vertical">
                    <div class="user-avatar">
                        <a href="#"><img class="img-responsive" src="http://phongtot.vn/themes/client/img/avatar.png"></a>
                    </div>
                    <div class="user-panel-menu">
                        <div class="user-panel-menu-item "><a href="http://phongtot.vn/trang-ca-nhan">Tổng quan</a></div>
                        <div class="user-panel-menu-item "><a href="http://phongtot.vn/trang-ca-nhan/tin-dang">Tin đã đăng</a></div>
                        <div class="user-panel-menu-item active"><a href="http://phongtot.vn/trang-ca-nhan/tin-da-luu">Tin đã lưu</a></div>
                    </div>
                </div>
                <!-- End left menu -->
                <div class="col-md-10 user_panel user-panel-center-container">
                    <div class="user-panel-info">
                        <div class="user-panel-name"><a href="http://phongtot.vn/trang-ca-nhan">nguyễn văn đức</a></div>
                        <div class="user-panel-email"><a href="http://phongtot.vn/trang-ca-nhan">nguyenvanduc95bg@gmail.com</a></div>
                        <a class="btn btn-submit-room" href="http://phongtot.vn/dang-tin">Đăng tin miễn phí</a>
                    </div><div class="user-panel-main-container">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tin đã lưu</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="table-title">Tiêu đề</th>
                                                <th class="table-title text-center">Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="pull-right">
                                                        <div class="dataTables_paginate paging_bootstrap">  </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


